.api-docs-page .swagger-ui .dialog-ux {
  z-index: 40 !important;
}

.api-docs-page .swagger-ui .dialog-ux .backdrop-ux {
  z-index: 35 !important;
}

.api-docs-page .swagger-ui {
  font-family: inherit;
}

.api-docs-page .swagger-ui .topbar {
  display: none;
}

.api-docs-page .swagger-ui .info {
  margin: 20px 0 !important;
}

.api-docs-page .swagger-ui .scheme-container {
  box-shadow: none !important;
  border-radius: 12px;
}
